.kozepre{
    text-align: center;
}
#kiiras{
    text-align: center;
    color: blue;
    font-size: 50px;
}

#sub{
    text-align: center;
}

#zene{
    font-size: 30px;
}









